<!DOCTYPE html>
<html lang="en">
<head>
    <title>Phone number validation</title>
</head>
<style>
    body{
        background-image: url(https://media.istockphoto.com/id/1454860978/photo/dark-blue-hexagon-technology-futuristic-abstract-modern-background-blue-honeycomb-texture-grid.webp?s=2048x2048&w=is&k=20&c=iaeT_nboyCUz3B7G2uSaGCuvcgTiOZPHNHeT76yX4rA=);
        background-repeat:no-repeat;
        background-size:cover;
        background-attachment: fixed ;
    }
    h1{
        text-align: center;
        color: white;
        margin-top: 200px;
        margin-left: 60px;
        padding-top: 10px;
    }
    h5{
        text-align: center;
        color: white;
        font-size: large;
        margin-left: 60px;
    }
    .form{
        padding: 10px;
        padding-right: 360px;
        border-radius: 10px;
        margin-left: 515px;
        position: fixed;
    }
    .btn{
        padding: 7px;
        margin-left: 750px;
        margin-top: 30px;
        border-radius: 5px;
    }
</style>
<body>
    <div class="container">
        <form id="validate" action="/bikesubmit" method="GET">
            <div class="form-group text-center">
                <h1>Enter the <b>phone number</b></h1><br>
                <h5>Enter the phone number you wish to know about ...</h5><br>
                <input type="text" name="gds" class="form" placeholder="Enter the phone number"><br>
                <input type="submit" class="btn" value="Get Details">
            </div>
        </form>
    </div>
</body>
</html>
