<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Phone Number Validation</title>
    <style>
        body {
            font-family: 'Arial', sans-serif;
            margin: 0;
            padding: 0;
            background-image: url('https://www.teahub.io/photos/full/228-2286361_cell-phone-background.jpg'); 
            background-size: cover;
            background-position: centre;
            background-repeat: repeat;
            background-color: #f0f0f0;
            padding: 20px 0;
        }

        header {
            background-color:skyblue;
            color: #fff;
            text-align: center;
            padding: 35px 0;
        }

        nav {
            background-color: #444;
            text-align: center;
        }

        nav a {
            color: #fff;
            text-decoration: none;
            margin: 0 20px;
            font-size: 18px;
            transition: color 0.3s;
        }

        nav a:hover {
            color: #ff6600;
        }

        .container {
            max-width: 800px;
            margin: 20px auto;
            padding: 20px;
            background-color: #fff;
            border-radius: 5px;
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
        }

        h1 {
            font-size: 28px;
            text-align: center;
            color: #333;
        }

        p {
            font-size: 16px;
            line-height: 1.6;
            color: #666;
        }

        .btn {
            display: inline-block;
            padding: 10px 20px;
            background-color: #ff6600;
            color: #fff;
            text-decoration: none;
            border-radius: 5px;
            transition: background-color 0.3s;
        }

        .btn:hover {
            background-color: #ff8533;
        }
    </style>
</head>
<body>
    <header>
        <h1>Phone Number Validation</h1>

    </header>
    <nav>
        <a href="#">Home</a>
        <a href="/signup">signup</a>
        <a href="/login">login</a>
        <a href="/contactus">contactus</a>
        <a href ="#">About</a>
    </nav>
    <div class="container">
        <h1>Welcome to our Phone Number Validation website!</h1>
        <p>To know more detailed information about particular phone number please signup first.</p>
        
    </div>
</body>
</html>
